<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./scss/contacts.min.css">
</head>
<body>

    {% include "./app/module/_header/_header.html" %}

    <main class="main">
        <section class="top">
            <div class="top__container" style="background-image: url('./images/bglogin.jpg');" >
                <div class="container">
                    <h2 class="top__title title">
                        CONTACT US
                    </h2>
                    <div class="breadcrumbs">
                        <ul class="breadcrumbs__list">
                            <li class="breadcrumbs__item">
                                <a class="breadcrumbs__link" href="#">
                                    Home
                                </a>
                            </li>
                            <li class="breadcrumbs__item">
                                <a class="breadcrumbs__link" href="#">
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="map">
            <div class="container">
                <div id="map">

                </div>
            </div>
        </section>
        
        <section class="contact">
            <div class="container">
                <div class="contact__inner">
                    <div class="contact__info">
                        <h3 class="contact__info-title">
                            Feel Free Don`t Hesitate To Contact With Us
                        </h3>
                        <p class="contact__info-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt consequuntur, mao qui non veritatis officiis unde repudiandae, pariatur voluptatem sit mollitia consectetur. Incidunt accusamus possimus aliquid similique!
                        </p>
                        <ul class="contact__info-list">
                            <li class="contact__info-item">
                                <a class="contact__info-phone" href="tel:+01234567890">+0-123-456-7890</a>
                                <a class="contact__info-phone" href="tel:+01234567890">+0-123-456-7890</a>
                            </li>
                            <li class="contact__info-item contact__info-item--location">
                                Ranlon Market 789 Road, <br>
                                Market Street, New York
                            </li>
                            <li class="contact__info-item contact__info-item--email">
                                <div>youremailaddress@gmail.com</div>
                                <div>companyemail@gmail.com</div> 
                            </li>
                        </ul>
                    </div>
                
                    <form  class="contact__form" action="#">
                        <p class="contact__form-title">Contact Form</p>
                        <div class="contact__form-box">
                            <input class="contact__form-input" placeholder="Your Name" type="text">
                            <input class="contact__form-input" placeholder="Your E-mail address" type="text">
                        </div>
                        <input class="contact__form-input" placeholder="Subject" type="text">
                        <textarea class="contact__form-textarea" placeholder="Message here" ></textarea>
                        <button class="contact__form-btn" type="submit">SEND MESSAGE</button>
                    </form>
                </div>
            </div>
        </section>
    </main>
    
    {% include "./app/module/_footer/_footer.html" %}


     
    <script
      src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&v=weekly"
      async
    ></script> 
    <script>
        let map;
        
        function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 40.72109239762175, lng: -73.97971485193699 },
            zoom: 13,
        });
        }
    </script>
    <script src="./js/main.min.js"></script>
</body>
</html>